# OVH Zimbra SMTP example
PORT=3000
SMTP_HOST=smtp.mail.ovh.net
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=contact@declicsculptstudio.fr
SMTP_PASS=CHANGE_ME
SMTP_FROM=contact@declicsculptstudio.fr
CONTACT_TO=contact@declicsculptstudio.fr
AUTO_REPLY_ENABLED=true
